.task-comment {
  font-family: "Avenir Next Cyr", sans-serif;
  font-size: 16px;
  color: #000000;
  width: 100%;
  background-color: lightgray;
  margin-bottom: 1px;
  box-sizing: border-box;
  min-height: 100px;
}

.comment-button {
  font-family: "Avenir Next Cyr", sans-serif;
  font-size: 20px;
  color: #000000;
  background-color: lightgray;
  padding: 15px;
  width: 75%;
  border: 2px solid #000000;;
  outline: none;
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
  }
}
