<section class="container">
    <form class="inputs-parent" [formGroup]="formGroup">
        <textarea [formControl]="formGroup.get('comment')" class="task-comment"></textarea>
    </form>
    <button (click)="addComment()" class="cursor-pointer" [disabled]="formGroup.invalid">Add comment</button>
    <button (click)="cancelComment($event)" class="cursor-pointer">Cancel</button>
</section>
