<h1 mat-dialog-title>Hi</h1>
<div mat-dialog-content>
    <p>You can change your mind</p>
</div>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="!dialogRef">No Thanks</button>
    <button mat-button [mat-dialog-close]="dialogRef">Ok</button>
</div>
