body {
  margin: auto;
}

.column {
  overflow: auto;
  max-height: 505px
}

.task {
  font-family: "Avenir Next Cyr", sans-serif;
  font-size: 16px;
  color: #000000;
  border-bottom: 2px solid #000000;
  display: flex;
  align-items: center;

  .task-id {
    background-color: lightgray;
    padding: 15px 0;
    min-width: 50px;
    display: flex;
    justify-content: center;
  }

  .task-name {
    width: 100%;
    background-color: darkgrey;
    padding: 15px;
  }
}

.task-adding, .hide-comment {
  font-family: "Avenir Next Cyr", sans-serif;
  font-size: 20px;
  color: #000000;
  background-color: lightgray;
  padding: 15px;
  width: 100%;
  border: 2px solid #000000;;
  border-top: unset;
  outline: none;
  cursor: pointer;
}

.hide-comment {
  padding: unset;
  width: unset;
}

.has-comment-parent {
  display: flex;
  align-items: center;
  cursor: pointer;

  span {
    color: red;
  }
}

.comment-message {
  font-family: "Avenir Next Cyr", sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: #000000;

  div {
    font-weight: 500;
    font-size: 14px;
  }
}

.img-rotate {
  transform: rotate(180deg);
}
