<section class="container">
    <div class="sub-container">
        <div class="title">Tasks</div>
        <div class="column">
            <div *ngFor="let task of tasks, let i = index">
                <div class="task">
                    <div class="task-id">{{i + 1}}</div>
                    <div class="task-name">{{task.name}} </div>
                    <div (click)="navigate('edit-task/', i)" class="cursor-pointer">
                        <img [src]="env.image_path + 'edit-icon.png'" width="50px" height="50px">
                    </div>
                    <div class="cursor-pointer" (click)="openComment(i)">
                        <img [src]="env.image_path + 'comment-icon.png'" width="50px" height="50px">
                    </div>
                    <div class="cursor-pointer" (click)="delete(i)">
                        <img [src]="env.image_path + 'delete-icon.png'" width="50px" height="50px">
                    </div>
                </div>
                <div *ngIf="task && i === selectedId && commentShows">
                    <app-comment [selectedId]="selectedId" (commentShows)="hideComment(false)"></app-comment>
                </div>
                <div class="has-comment-parent" *ngIf="task.comments" (click)="showOrHideComment(i)">
                    <span class="has-comment">Comment</span>
                    <img [src]="env.image_path + 'arrow-sign.jpg'"
                         width="15px" height="15px"
                         [ngClass]="{'img-rotate': i === selectedComment && commentShowsCondition}">
                </div>
                <div *ngIf="task.comments && i === selectedComment && commentShowsCondition">
                    <div *ngFor="let comment of task.comments">
                        <div class="comment-message" id="asd">{{comment}}</div>
                    </div>
                </div>
            </div>
        </div>
        <button routerLink="create-task" class="task-adding">Add task</button>
    </div>
</section>
