<section class="container">
    <div class="sub-container">
        <div class="title">{{idExists ? 'Create task' : 'Edit task'}}</div>
        <button (click)="back()" class="back">Back</button>
        <form class="inputs-parent" [formGroup]="formGroup">
            <input [formControl]="formGroup.get('name')" class="task-input" placeholder="name">
        </form>
        <button (click)="CreateOrEditTask()" class="create-task" [disabled]="formGroup.invalid">Create task</button>
    </div>
</section>
