.task-input {
  font-family: "Avenir Next Cyr", sans-serif;
  font-size: 16px;
  color: #000000;
  width: 100%;
  background-color: lightgray;
  border: 2px solid #000000;
  min-height: 40px;
  margin-bottom: 1px;
  box-sizing: border-box;
  padding-left: 10px;
}

.create-task {
  font-family: "Avenir Next Cyr", sans-serif;
  font-size: 20px;
  color: #000000;
  background-color: lightgray;
  padding: 15px;
  width: 100%;
  border: 2px solid #000000;;
  outline: none;
  cursor: pointer;
}

.back {
  font-family: "Avenir Next Cyr", sans-serif;
  font-size: 20px;
  color: #000000;
  padding: 10px;
  outline: none;
  border: 2px solid #000000;;
  cursor: pointer;
  margin-bottom: 1px;
}

.create-task {
  &:disabled {
    opacity: 0.5;
  }
}
