.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.sub-container {
  padding: 0 10px;
}

.title {
  font-family: "Avenir Next Cyr", sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: #000000;
  text-align: center;
  margin: 10px 0;
}

.cursor-pointer {
  cursor: pointer;
}

body {
  margin: 0 auto
}
